<div class="panel panel-default">
    
<!-- 16:9 aspect ratio -->

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lvtfD_rJ2hE"></iframe>
</div>
<br />

<h3>この動画を見て感じたことを投稿してください。</h3>
<br />





  <div id="panel-margin" class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title">メッセージ一覧</h3>
  </div>
  </div>

  <div class="panel-heading">
      <ul>
          <% @messages.each do |message| %>
          <li>
              <%= message.id %>  <%# gakuseki %> 
              <span class="label label-info"><%= message.name %></span>
              <%= message.body %>
              (<%= link_to "edit" , edit_message_path(message) %>
               <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
               )
          </li>
          <% end %>
       </ul>
  </div>
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>